doctype html
html(lang="en")
    head
        title=智慧图书馆管理平台
        
        meta(charset="UTF-8")

        link(rel="stylesheet", type="text/css", href="./bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="./css/jquery.dataTables.min.css")
        link(rel="stylesheet", type="text/css", href="./css/style.css")
    
        script(type='text/javascript', src="./js/common/jquery.min.js")
        script(type='text/javascript', src="./bootstrap/js/bootstrap.min.js")
        script(type='text/javascript', src="./js/common/jquery.dataTables.min.js")
        script(type='text/javascript', src="./layer/layer.min.js")
        script(type='text/javascript', src="./js/button.js")
    
    body
        .container-fluid#container
            block content
