doctype html
html(lang="en")
    head
        title=智慧图书馆借阅终端
        
        meta(charset="UTF-8")

        link(rel="stylesheet", type="text/css", href="./bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="./css/style.css")
    
        script(type='text/javascript', src="./js/common/jquery.min.js")
        script(type='text/javascript', src="./js/common/moment.min.js")
        script(type='text/javascript', src="./bootstrap/js/bootstrap.min.js")
        script(type='text/javascript', src="./layer/layer.min.js")
        script(type='text/javascript', src="./js/button.js")
    
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand#title(href="#")
                .collapse.navbar-collapse#navbar1
                    ul.nav.navbar-nav
                        li
                            a#lend(href="#") 借书
                            
                        li
                            a#return(href="#") 还书
                        li
                            a#lookup(href="#") 详情
                        li
                            a#setting(href="#") 串口设定

                    ul.nav.navbar-nav.navbar-right
                        li
                            a#exit(href="#") 退出
                                    
        .container-fluid#container
            block content
