extends layout

block content
    script(type='text/javascript', src="./js/lookup.js")

    .row
        .col-xs-10.col-xs-offset-1
            table.table#bookTable
                thead
                    tr
                        th 书名
                        th 借阅时间
                        th 截止日期

                tbody
                    
            h2#info.text-center 请刷一卡通或二维码
